{% extends "workshop_app/base.html" %}
{% block title %} Forgot Password {% endblock %}


{% block content %}
<center>
<h2>Password reset successful</h2>
<div class="alert alert-success col-md-8">
Instruction for setting new password has been mailed to your registered email address 
</div>
<br>
<a class="inline-flex items-center justify-center rounded-md bg-blue-600 px-5 py-2.5 text-sm font-semibold text-white no-underline transition hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" href="{% url 'workshop:index' %}">Go to Login</a>
</center>
{% endblock %}
