{% extends 'workshop_app/base.html' %}

{% block title %}
    View Workshop details
{% endblock %}

{% block content %}
    <div class="mx-auto w-full max-w-4xl rounded-xl bg-white p-4 shadow-sm ring-1 ring-gray-200 sm:p-6">
        <h2 class="mb-4 text-center text-2xl font-semibold text-gray-900">Workshop Details</h2>
        <div class="overflow-x-auto">
        <table class="table table-hover mb-0">
            <tr class="d-flex">
                <th class="col-3">Workshop Name :</th>
                <td class="col">{{ workshop_type.name }}</td>
            </tr>
            <tr class="d-flex">
                <th class="col-3">Duration :</th>
                <td class="col">{{ workshop_type.duration }} day(s)</td>
            </tr>
            <tr class="d-flex">
                <th class="col-3">Description :</th>
                <td class="col">{{ workshop_type.description }}</td>
            </tr>
            <tr class="d-flex">
                <th class="col-3">Terms and Conditions :</th>
                <td class="col">{{ workshop_type.terms_and_conditions }}</td>
            </tr>
        </table>
        </div>
    </div>

{% endblock %}


